/*MODAL*/
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-content {
    background-color: var(--color-white);
    margin: 8% auto;
    padding: 2rem;
    border-radius: 1.2rem;
     max-width: 500px;
    position: relative;
     margin-top: 120px;
  }
  
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 3rem;
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-primary);
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: var(--color-accent);
  }
  .modal-content h2 {
    color: var(--color-primary);
    font-size: 3.7rem;
  }
  .modal-content p {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }