/* ===========================
   RESET E BASE
=========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 50.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

/* VARIABILI COLORI */
:root {
  --color-primary: #003870;
  --color-primary-light: #0077c8;
  --color-accent: #00b7ff;
  --color-grey-dark: #333;
  --color-grey-light: #f2f2f2;
  --color-white: #fff;
}

/* CONTENITORI E GRID */
.container {
  width: 90%;
  max-width: 200rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.grid {
  display: grid;
  gap: 5rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* TIPOGRAFIA */
.heading-primary {
  font-size: 6rem;
  color: #d6eaff;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 600;
  color: #094e93;
  margin-bottom: 2rem;
  text-align: center;
}

.heading-tertiary {
  font-size: 1.9rem;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 1.2rem;
}

.subheading {
  font-size: 2rem;
  color: var(--color-grey-dark);
  text-align: center;
  margin-bottom: 4.8rem;
}

/* ===========================
   HEADER
=========================== */
.container-event {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  perspective: 1000px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  height: 12.5rem;
  padding: 0 4.8rem;
  position: relative; 
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.3s ease;
}
.header.scrolled {
  height: 9rem; /* Diventa più piccola */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Ombra più marcata */
}
.header.scrolled .logo {
  height: 80px; /* Logo più piccolo quando scrolli */
  transition: height 0.3s ease;
}

.logo {
  height: 70px;
  margin-left: 30px;
}

/* HAMBURGER */

.mobile-nav-footer {
  display: none;
}
.btn-mobile-nav {
  border: none;
  background: var(--color-primary);
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
   width: 40px;
  height: 40px;
}

.btn-mobile-nav:hover {
  background: var(--color-primary-light);
  transform: scale(1.05);
}
.btn-mobile-nav:active {
  transform: scale(0.95);
}

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.header.nav-open .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}
.header.nav-open .hamburger span:nth-child(2) {
  opacity: 0;
}
.header.nav-open .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* NAV MOBILE */
/* .main-nav {
  /* visibile desktop normalmente */
/*} */

.header.nav-open .main-nav {
  right: 0;
}

.nav-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 900;
  display: none; 
}

.header.nav-open .nav-overlay {
  pointer-events: all;
  opacity: 1;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}
.main-nav-list li {
  animation: slideInFromTop 0.5s ease forwards;
}
.main-nav-list li:nth-child(1) {
  animation-delay: 0.1s;
}
.main-nav-list li:nth-child(2) {
  animation-delay: 0.2s;
}
.main-nav-list li:nth-child(3) {
  animation-delay: 0.3s;
}
.main-nav-list li:nth-child(4) {
  animation-delay: 0.4s;
}
.main-nav-list li:nth-child(5) {
  animation-delay: 0.5s;
}

.main-nav-link {
  position: relative;
  text-decoration: none;
  color: var(--color-grey-dark);
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
.main-nav-link:not(.nav-cta)::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  transition: width 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.main-nav-link:not(.nav-cta):hover::after {
  width: 100%;
}

.main-nav-link:not(.nav-cta):hover {
  color: var(--color-primary);
  transform: translateY(-2px);
}

.nav-cta {
  position: relative; /* fondamentale */
  z-index: 50; /* deve stare sopra overlay o altri elementi */
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  cursor: pointer; /* assicura il cursore mano */
  transition: all 0.3s ease;
}
.nav-cta::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
}
.nav-cta:hover::before {
  width: 300px;
  height: 300px;
}

.nav-cta:hover {
  background-color: var(--color-primary-light);
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 56, 112, 0.3);
}
.nav-cta:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 15px rgba(0, 56, 112, 0.3);
}

.main-nav-link.nav-cta:hover {
  background-color: var(--color-primary-light);
  color: var(--color-white);
  transform: scale(1.05);
}
.nav-cta:active {
  transform: scale(0.98);
}
/*
HERO secondary
*/
  .section-cta {
    background: linear-gradient(354deg, #002f5d8f 0%, #001f3d 100%);    color: #e9f4ff;
    padding: 2rem 0;
    border-radius: 2px;
    margin-bottom: 0;
    padding: 2rem 0 12rem 0; 

  }
  .section-cta img{
    width: 420px;
    left: 60%;
    right: 20%;
    margin-top: -10px;
  }
    .cta-text-box .heading-secondary {
      margin-top: 50px;
    padding: 2rem;
    color: #80bfffd1;
    text-align: center;
  }
  
  .cta-text {
    font-size: 1.6rem;
    margin: 2rem 0 3rem 0;
    text-align: center;
  }
    .cta-text-box .heading-secondary {
    padding: 2rem;
    color: #80bfffd1;
    text-align: center;
  }
  
  .cta-img-box {
    height: 100%;
    border-radius: 1.2rem;
  }
/* ===========================
   HERO
=========================== */


.section-hero {
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #002f5d 0%, #001f3d 100%);
  color: var(--color-white);
  padding: 8rem 0 12rem 0; 
}

.btn--full.margin.secondary{
  background-color: var(--color-primary);
}
.section-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.3;
}
.section-featured,
.section-vantaggi,
.section-how {
  padding: 8rem 0;
}
.section-how {
  padding: 8rem 0 5rem;
}
.section-how .container {
  max-width: 150rem; /* Limita larghezza */
}
.section-how .grid {
  gap: 4rem;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.2rem;
  color: #e9f4ff;
}
.hero-description span{
  color: var(--color-primary);
  font-weight: bold;

}
.section-contatti p{
    color: var(--color-primary);
  }
.fade-in {
  animation: fadeIn 0.6s ease forwards;
}

/*HERO TITLE*/
.hero-title {
  font-size: 4.4rem;
  line-height: 1.7;
}

.hero-dynamic {
  display: block;
  margin-top: 1.6rem;
  margin-bottom: 1.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #F9E7B2  ;
  min-height: 3rem; /* evita salti */
  opacity: 1;
  transition: opacity 0.4s ease;
}

.hero-img {
  width: 100%;
  border-radius: 2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
  font-weight: 500;
  margin-right: 1.2rem;
}
/* .btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255,255,255,0.2);
  transform: translate(-50%, -50%);
  transition: width 0.6s, height 0.6s;
} */
.btn:hover::before {
  width: 300px;
  height: 300px;
}

.btn--full,
.btn--outline {
  position: relative;
  z-index: 20; /* sopra overlay o altri elementi */
  transition: transform 0.3s ease;

  color: var(--color-white);
}
.btn--full.margin {
  background-color: var(--color-accent);
  font-size:2rem;
}
.btn--outline{
  font-size: 2rem;
}
.btn--full:hover {
  background-color: var(--color-primary-light);
  transform: scale(1.05);
}
.btn--full:active {
  background-color: var(--color-primary-light);
  transform: scale(1.05);
}
.btn--outline {
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
}
.btn--outline:hover {
  background-color: var(--color-grey-light);
  color: var(--color-grey-dark);
  transform: scale(1.05);
}

/*sezione dati*/
.dati-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.container-icon a {
  display: inline-flex;
  cursor: pointer;
}
.icons-container-2 {
  fill: var(--color-primary);
  width: 80px;
  height: 80px;
  width: 80px;
  margin: 0 auto 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-icon svg {
  width: 28px;
  height: 28px;
  pointer-events: none;
}
.container-icon a:hover {
  color: #0077c8;
  fill: #0077c8;
}
.dati-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  text-align: center;
}
.dati-text {
  flex: 1 1 45%;
}
.dati-image img {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;

}
.primary-text {
  color: var(--color-primary);
  font-weight: 600;
}
.cta {
  display: flex;
  justify-content: center;
  color: var(--color-primary);
}
/* ===========================
   EVENT CARD
=========================== */
.event-card {
  background: linear-gradient(135deg, #fff 0%, #e9e9e958 100%);
  border-radius: 20px;
  padding: 5rem 4rem;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
  font-size: 1.7rem;
  max-width: 130rem;
  margin: 0 auto 3rem auto;
  width: 90%;
  position: relative;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: floatCard 3s ease-in-out infinite;
}
.event-badge{
  position: absolute;
  bottom: 9px;              /* distanza dal fondo immagine */
  left: 48%;
  transform: translateX(-50%);

  background: linear-gradient(
    135deg,
    var(--color-accent),
    var(--color-primary)
  );
  color: #fff;
  padding: 0.6rem 3.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 7px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  animation: badgePulse 2s ease-in-out infinite;
  z-index: 2;
}

.event-date {
  display: inline-block;
  background: var(--color-primary);
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.event-img {
  display: block;
  width: 90%;
  border-radius: 14px;
  margin-bottom: 1rem;
}
.event-title {
  font-size: 2.2rem;
  margin-top: 1.5rem;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  animation: gradientShift 3s ease infinite;
  background-size: 200% auto;
}

/*SEZIONE SOLUZIONI*/
.solution-item {
  margin-bottom: 2rem;
}
.step-number {
  font-size: 5rem;
  font-weight: 700;
  color: var(--color-primary-light);
  margin-bottom: 1.6rem;
}
.step-description {
  font-size: 2rem;
  color: var(--color-grey-dark);
  line-height: 1.6;
}
.step-img {
  width: 100%;
  border-radius: 1.2rem;
  max-width: 450px;
  margin: 0 auto;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-vantaggi .heading-secondary {
  margin-bottom: 4.8rem;
}
.step-text-box {
  max-width: 50rem; 
}

/* ===========================
   FEATURE
=========================== */
.feature {
  text-align: center;
  transition: transform 0.3s ease;
  padding: 2rem 1.5rem; 
}
.feature-icon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1.5rem;
  color: var(--color-primary);
}
.feature-icon.location{
  position: relative;
  color: var(--color-primary);
}
.feature-icon.stelle,
.feature-icon.bar,
  .feature-icon.ristorante,
  .feature-icon.pizza,
  .feature-icon.gelato,
  .feature-icon.shopping,
  .feature-icon.carrello
  {
  position: relative;
  color: var(--color-primary);
}

.icon-inner {
  height: 100%;
  width: 100%;
}
.ionicon {
  stroke: var(--color-primary);
}

.feature:hover {
  transform: translateY(-8px);
}
.feature img {
  height: 140px;
  width: 140px;
  margin-bottom: 1.5rem;
}
.feature-text {
  font-size: 2rem;
}
.container.grid--3-cols > :last-child {
  grid-column: 1 / -1; 
}

/*TRANSAZIONI*/
.feature,
.pricing-card,
.solution-item {
  transition: all 0.3s ease;
}
.feature:hover {
  transform: translateY(-5px);
}
.grid.grid--3-cols.f5 {
  grid-column: -3;   /* occupa tutta la riga */
  display: flex;
  justify-content: center;
}
.feature-center {
  display: flex;
  justify-content: center;
}

.feature-center .feature {
  max-width: 33%;
}
/* ===========================
   PRICING
=========================== */
.pricing-card h4{
  font-size: 1.5rem;
  padding: 4rem;
  
}

.pricing-section {
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.pricing-container {
  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  max-width: 1300px;
  margin: 0 auto;
}
.pricing-container h3{
  text-align: center;
}
.pricing-card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: white;
  padding: 4rem 3rem;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}
.pricing-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  padding: 2px; /* Spessore del bordo */
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.plan-btn{
  margin-top: auto;
  text-align: center;
}

.pricing-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
}

.pricing-card h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  flex-grow: 1;
}

.features-list li {
  margin-bottom: 1.2rem;
  padding-left: 2.6rem;
  position: relative;
  font-size: 1.5rem;
}

.features-list li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #1a73e8;
  font-weight: bold;
}

.popular {
  border: 2px solid #1a73e8;
}

/* ===========================
   CONTACT
=========================== */
.fa-solid.fa-envelope,
.fa-solid.fa-phone,
.fa-solid.fa-location-dot {
  font-size: 25px;
  padding: 10px;
  background-color: #002f5d;
  color: #cde2ff;
  border-radius: 8px;
  margin-right: 10px;
  margin-top: 22px;
}
.section-contatti {
  background-color: var(--color-grey-light);
  padding: 8rem 3rem;
  border-bottom: 0.8rem solid rgb(159, 159, 159);
}
.contact-text-box {
  padding-right: 4.8rem;
}

.contact-info a {
  color: var(--color-primary);
  text-decoration: none;
  
}
.contact-info {
  list-style: none;
  font-size: 1.9rem;
  line-height: 1.8;
  margin-left: 2rem;

}
.contact-info a:hover {
  text-decoration: underline;
}
.contact-info li:nth-child(3) {
  color: var(--color-primary);
}
.contact-info li:nth-child(3) strong {
  color: black;
}
.contact-form-box {
  background-color: var(--color-white);
  padding: 5rem;
  border-radius: 1.6rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}
.contact-form label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  display: block;
  color: var(--color-primary);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1.2rem 1.6rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-family: inherit;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--color-primary-light);
  box-shadow: 0 0 0 4px rgba(0, 119, 200, 0.2);
}
.btn--full-enter {
  z-index: 20; /* sopra overlay o altri elementi */
  transition: transform 0.3s ease;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--full-enter:hover {
  background-color: var(--color-primary-light);
  transform: scale(1.05);
}
.btn--full-enter:active {
  background-color: var(--color-primary-light);
  transform: scale(1.05);
}
/* ===========================
   FOOTER
=========================== */
.footer {
  margin: 0;
  padding-bottom: 0;
  background: linear-gradient(180deg, #002f5d 0%, #001f3d 100%);
  color: var(--color-white);
  padding: 7rem 0;
  font-size: 1.4rem;
  border-top: 1rem solid rgb(159, 159, 159);
   margin-top: 6rem;

}

.footer a {
  text-decoration: none;
  color: inherit;
}
.grid--footer {
  grid-template-columns: 1.5fr 1fr 1fr;
}

.footer-logo img {
  height: 128px;
  display: inline-block;
  margin-bottom: 2.8rem;
  margin-top: 0px;
  margin-left: 100px;
  opacity: 70%;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
}

.footer-link {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.4rem;
}

.container-icon {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}
.container a {
  fill: var(--color-white);
}
.address-col a {
  font-weight: 500;
  transition: color 0.3s;
}
.address-col a:hover {
  color: var(--color-accent);
}
.address-col address {
  font-size: 1.6rem;
  line-height: 2rem;
}
.contact-info {
  list-style: none;
  font-size: 1.9rem;
  line-height: 1.8;
}
.footer-nav li {
  padding-left: 0;
}
.footer-link {
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.3s;
}
.footer-link:hover::after {
  width: 100%;
}
.footer-social {
  margin-top: 2.4rem;
}
.footer-bottom {
  width: 100%;
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.7;
}
/*MAPPA SECTION*/
.section-mappa {
  width: 100%;
  height: 400px;
  border: none;
  margin-bottom: 90px;
}
.mappa-box {
  margin-top: 3.2rem;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
}
.subtitle {
  font-size: 1.4rem;
  margin-bottom: 25px;
  text-align: center;
}
.main-nav-link.home{
  color: var(--color-primary);
  font-weight: 600;
  position: relative;
}
.main-nav-link.home::after {
  width: 100%; /* Sottolineatura sempre visibile */
    background: linear-gradient(135deg, var(--color-primary), var(--color-primary-light));
}

.main-nav-link.home:hover {
  color: var(--color-primary-light);
}
.main-nav a:hover{
  color: var(--color-primary-light);
}

/*  sezione prodotti */
.section-prodotti {
  margin-top: 130px;
  margin-bottom: 200px;
}
.section-featured#prodotti {
  padding-top: 6rem; /* aumenta lo spazio sopra la sezione */
  padding-bottom: 10rem; /* mantiene lo spazio sotto */
}
.section-featured {
  padding-top: 8rem 0; /* più spazio in alto */
  padding-bottom: 10rem;
}
.section-featured .container {
  max-width: 110rem; /* Limita larghezza */
}


.prodotto-card {
  background: rgba(255, 255, 255, 0.08); /* semi-trasparente */
  backdrop-filter: blur(10px); /* sfocatura sullo sfondo */
  border-radius: 2rem;
  padding: 2.5rem 2rem;
  text-align: center;
  box-shadow: 0 8px 25px rgb(0 0 0 / 9%);
  transition: transform 0.4s, box-shadow 0.4s;

}
.img-container img{
  width: 100%;
  border-radius: 1.2rem;
}

.prodotto-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.prodotto-card img {
    width: auto;
    height: 23rem;
    margin-bottom: 8rem;
}

.prodotto-card h3 {
  font-size: 1.9rem;
  margin-bottom: 0.8rem;
  color: var(--color-primary);
}

.prodotto-card p {
  font-size: 1.4rem;
  margin-bottom: 1.8rem;
  color: rgba(255, 255, 255, 0.85);
}

.prodotto-card button {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.5rem;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  left: 0rem;
}

.prodotto-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
.prodotti-grid {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
  margin-top: 4rem;
}
/*STICKY NAVIGATION*/
.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 8rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(235, 235, 235, 0.867);
  backdrop-filter: blur(10px);
  z-index: 1000;
  animation: slideDown 0.3s ease-out;
}
.sticky .logo img {
  height: 110px;
  transition: height 0.3s ease-in-out;
}
.sticky .logo-scritta {
  height: 180px; /* prima era 180px */
  transition: height 0.3s ease-in-out;
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
.sticky .event-card {
  margin-top: 9rem; /* Compensa l'altezza dell'header fisso */
}

.header.nav-open .main-nav-list li {
  animation: slideInFromRight 0.4s ease forwards;
}

.header.nav-open ~ .nav-overlay {
  display: block; 
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  backdrop-filter: blur(3px);
}
.main-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--color-white);
  transform: translateX(10px);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}


/*KEYFRAMES*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 4px 15px rgba(0, 183, 255, 0.4);
  }
  50% {
    box-shadow: 0 4px 25px rgba(0, 183, 255, 0.6);
  }
}
@keyframes floatCard {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes badgePulse {
  0%,
  100% {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 4px 25px rgba(0, 183, 255, 0.6);
  }
}
@keyframes gradientShift {
  0%,
  100% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
}

/*ANIMATION SCROLLING*/

.fade-in-hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

/*ANIMATION TEXT */
  .blinking {
    animation: blink 0.2s step-end infinite;
  }

    @keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: rgba(255, 255, 255, 0.75); }
  }


